html body{
    width: 100%;
    /* overflow-x: hidden; */
}
.header-wraper{
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.burgerbar{
    font-size: 13px;
    width: 25px;
    height: 25px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12.5px;
    display: none;
}
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: white;
    transition: 0.3s ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    position: absolute;
}

.nav-toggle-label span::before {
    transform: translateY(-8px);
}

.nav-toggle-label span::after {
    transform: translateY(8px);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 32px;
    width: 100vw;
    position: fixed;
    background-color: white;

}
.navigation ul{
    display: flex;
    column-gap: 24px;
}

.action-button button{
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #000000;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}
.navigation a{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: 0.10000000149011612px;
    text-align: right;
    color: #000000;
}
.logo h1{
    font-family: 'Inter';
    font-size: 24.65px;
    font-weight: 1000;
    line-height: 26.41px;
    text-align: left;
    color: #000000;
}
main{
    padding-top: 96px;
}

.headline{
    display: flex;
    flex-direction: column;
}
.first-section{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 64px 0;
}
.first-section-wraper{
    max-width: 1110px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 130px;
    row-gap: 0px;
    align-items: center;
}
.headline h1{
    font-family: 'Inter';
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: left;
    color: #000000;
}
.headline p{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #000000;
}
.headline-div{
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    column-gap: 20px;
    row-gap: 0;
}
.headline-div button{
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #000000;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}
.headline-div p{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    width: 100%;
}
.headline{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.first-section-photo{
    background-image: url(../images/ee47093265e15855f4fe1dbd5c1d3f3f.jpeg);
    width: 100%;
    height: 428px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
.feature-wraper{
    max-width: 1110px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    column-gap: 30px;
    row-gap: 0px;
    flex-direction: row;
}
.feature{
    width: 100%;
    padding: 0 24.65px 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.cicle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
}
.f{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.f p{
    font-family: 'Inter';
    font-weight: 900;
    color: #000000
}
.feature-p{
    font-family: 'Inter';
    font-weight: 400;
    color: #000000;
}
.section-two{
    padding: 64px 0;
    background-color:  #f3f3f3;
}
.section-three-photo{
    background-image: url(../images/14b82f10e6fd4db41bffbe8b25bb6676.jpeg);
    width: 100%;
    height: 428px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
.section-three{
    background-color: #000000;
}
.section-three-wraper{
    margin: 0 auto;
    max-width: 1110px;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 96px 0;
    flex-direction: row;
    column-gap: 133px;
    row-gap: 0px;
}
.visitors-pa{
    margin-bottom: 8px;
}
.visitors-wraper{
    max-width: 1110px;
    width: 90%;
}
.visitors{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 0;
}
.visitors h1{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #FFFFFF;
}
.visitors p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #FFFFFF;
}
.visitors-p{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.section-four{
    background: linear-gradient(80.53deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%), url(../images/d4b01e95bd5f617f0147062338f3b732.png) center/cover no-repeat;
    height: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.section-four-wraper{
    max-width: 1110px;
    width: 90%;
    height: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.section-four p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #FFFFFF;
}
.section-four h1{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}
.section-four button{
    margin-top: 0;
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    border-width: 0px;
}
.logo-f h1{
    font-family: 'Inter';
    font-size: 24.65px;
    font-weight: 1000;
    line-height: 26.41px;
    text-align: left;
    color: #FFFFFF;
}
footer{
    background-color: #000000;
    padding: 96px 0;
}
.footer{
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1110px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-navigation{
    width: 228px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.media{
    display: flex;
    width: 90%;
}
.footer-navigation a{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}
.footer-navigation p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #FFFFFF;
}


@media (max-width: 1024px) {
    .navigation ul{
        column-gap: 44px;
    }
    .headline{
        align-items: center;
        padding: 12px 0 0 0;
        margin-bottom: 68px;
    }
    .headline p{
        text-align: center;
    }
    .headline h1{
        text-align: center;
    }
    .headline-div p{
        width: 100%;
    }
    .headline-div{
        align-items: center;
    }
    .first-section-wraper{
        flex-direction: column;
        padding: 32px 0;
    }
    .first-section-photo{
        height: 450px;
    }
    .feature{
        padding: 0;
    }
    .section-two{
        column-gap: 61px;
        padding: 39px 0;
    }
    .feature-wraper{
        column-gap: 61px;
    }
    .section-three{
        padding: 32px 0 64px 0;
    }
    .section-three-wraper{
        flex-direction: column;
        row-gap: 64px;
        column-gap: 0;
    }
    .section-three-photo{
        height: 550px;
    }
    .visitors{
        flex-direction: row;
        column-gap: 129px;
    }
    .section-four{
        height: 588px;
        row-gap: 12px;
    }
    .section-four button{
        margin-top: 20px;
    }
    .footer{
        flex-direction: column;
        row-gap: 48px;
    }
    .subscribe{
        display: none;
    }
    .section-four h1 {
        width: 600px;
    }
}
@media (max-width: 744px){
    .header{
        padding: 24px;
    }
    .navigation ul{
        column-gap: 22px;
    }
    .section-four h1{
        width: 100%;
    }
    .first-section{
        padding: 0;
    }
    .headline h1{
        font-size: 40px;
        line-height: 48.5px;
        text-align: center;
    }
    .headline-div{
        flex-direction: column;
        row-gap: 16px;
    }
    .first-section-photo{
        height: 499px;
    }
    .section-two{
        flex-direction: column;
        justify-content: end;
    }
    .feature-wraper{
        flex-direction: column;
        row-gap: 50px;
    }
    .feature{
        justify-content: center;
        align-items: center;
    }
    .feature-p{
        text-align: center;
    }
    .section-three{
        padding: 24px 0;
        column-gap: 0;
    }
    .section-three-photo{
        height: 550px;
    }
    .visitors{
        row-gap: 29px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .visitors-pa{
        margin-bottom: 21px;
    }
    .visitors h1{
        text-align: center;
    }
    .visitors p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .section-four{
        height: 500px;
    }
    .section-four button{
        margin-top: 0;
    }
    .footer{
        row-gap: 20px;
    }
}
@media (max-width: 375px){
    .burgerbar{
        display: flex;
    }
    .navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
    }
    .action-button{
        display: none;
    }

    .navigation li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-toggle:checked ~ .navigation {
        display: flex;
    }

    .nav-toggle-label {
        display: flex;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .nav-toggle:checked + .nav-toggle-label span {
        transform: rotate(45deg);
    }

    .nav-toggle:checked + .nav-toggle-label span::before {
        transform: rotate(90deg) translateX(5px);
    }

    .nav-toggle:checked + .nav-toggle-label span::after {
        transform: rotate(90deg) translateX(-5px);
    }
    .first-section{
        padding: 32px 0;
    }
    .headline{
        width: 100%;
    }

    .headline h1 {
        font-size: 40px;
    }
    .headline p{
        font-size: 14px;
    }
    .headline-div button{
        font-size: 14px;
    }
    .headline-div p{
        font-size: 14px;
    }
    .headline-div{
        width: 100%;
    }
    .first-section-photo{
        height: 309px;
    }
    .section-three-photo{
        height: 195px;
    }
    .visitors h1{
        font-size: 16px;
    }
    .visitors p{
        font-size: 14px;
    }
    .visitors-pa{
        font-size: 14px;
    }
    .section-four{
        height: 500px;
    }
    .section-four-wraper{
        width: 65%;
    }
    .section-four h1{
        font-size: 28px;
        
    }
    .section-four p{
        font-size: 16px;
    }
    .logo-f {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-navigation p{
        text-align: center;
    }
    .footer-navigation{
        text-align: center;
    }
    .section-four h1{
        width: 247px;
    }
}